<h2>Railway Reservation System</h2>
<h4>Search Trains</h4>
{% if user.is_authenticated %}
<a href="{% url 'userlogout' %}">Logout</a>{{ user.username }}
{% else %}
<a href="{% url 'userlogin' %}">Login</a>
{% endif %}
<form action="{% url 'searchtrains' %}" method="GET">
    <div>
        <select name="from">
            {% for from in from %}
            <option value="{{ from }}">{{ from }}</option>
            {% endfor %}
        </select>
        <select name="to">
            {% for to in to %}
            <option value="{{ to }}">{{ to }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </div>
    
</form>

